openapi: "3.1.0"
info:
  title: Res ex Machina API
  version: "1.0.0"
  description: |
    Technical registry API of AI generation facts.
    Registers cryptographically signed Proof of Generation (PoG) bundles
    and anchors them on an EVM L2 blockchain.
  contact:
    name: Res ex Machina
    url: https://github.com/Sebas-Solver/Res-ex-Machina/issues
  license:
    name: Apache-2.0
    url: https://github.com/Sebas-Solver/Res-ex-Machina/blob/main/LICENSE

servers:
  - url: https://api.resexmachina.xyz/v1
    description: Production (TBD)

tags:
  - name: health
    description: System status
  - name: records
    description: Registration and query of generation facts

paths:
  /health:
    get:
      tags: [health]
      summary: System status
      operationId: getHealth
      security: []
      responses:
        "200":
          description: System status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /records:
    post:
      tags: [records]
      summary: Register a new generation event
      operationId: createRecord
      description: |
        Registers a new signed PoG bundle. Requires:
        - Valid agent's EIP-712 signature
        - fee_tx_hash of verifiable on-chain payment transaction
        - Unique nonce per wallet
      security:
        - walletSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRecordRequest"
      responses:
        "201":
          description: Record successfully created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecordResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /records/{id}:
    get:
      tags: [records]
      summary: Query a record by ID
      operationId: getRecord
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Record's v7 UUID
      responses:
        "200":
          description: Record found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecordResponse"
        "404":
          $ref: "#/components/responses/NotFound"

  /records/verify:
    get:
      tags: [records]
      summary: Verify existence by content_hash
      operationId: verifyRecord
      security: []
      parameters:
        - name: content_hash
          in: query
          required: true
          schema:
            type: string
            pattern: "^sha256:[a-f0-9]{64}$"
          description: "SHA-256 hash in format sha256:{64hex}"
      responses:
        "200":
          description: Record found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecordResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /records/{id}/export:
    get:
      tags: [records]
      summary: Export verifiable receipt (JSON)
      operationId: exportRecord
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Exportable receipt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReceiptExport"
        "404":
          $ref: "#/components/responses/NotFound"

components:
  securitySchemes:
    walletSignature:
      type: apiKey
      in: header
      name: X-Signature
      description: |
        EIP-712 signature of the PoG bundle. The header must contain the
        signature bytes (65 bytes, hex-encoded with 0x prefix).

  schemas:
    HealthResponse:
      type: object
      required: [status, version]
      properties:
        status:
          type: string
          enum: [ok, degraded]
        db:
          type: string
          enum: [ok, error]
        chain:
          type: string
          enum: [ok, error, degraded]
        version:
          type: string
          example: "v1"

    CreateRecordRequest:
      type: object
      required: [content_hash, pog_bundle, fee_tx_hash]
      properties:
        content_hash:
          type: string
          pattern: "^sha256:[a-f0-9]{64}$"
          description: "SHA-256 of generated output"
          example: "sha256:a1b2c3d4e5f6789012345678901234567890123456789012345678901234abcd"
        pog_bundle:
          $ref: "#/components/schemas/PoGBundleV1"
        fee_tx_hash:
          type: string
          pattern: "^0x[a-fA-F0-9]{64}$"
          description: "Payment transaction hash for on-chain fee"
        content_type:
          type: string
          maxLength: 64
          example: "image/png"
        tags:
          type: array
          maxItems: 10
          items:
            type: string
            maxLength: 64
        visibility:
          type: string
          enum: [proof_only, input_hash_only, content_optional]
          default: proof_only
        external_ref:
          type: string
          format: uri
          description: "URL or pointer to external content (IPFS, S3, etc.)"

    PoGBundleV1:
      type: object
      required:
        - schema_version
        - content_hash
        - agent_wallet
        - timestamp
        - nonce
        - generation_process
        - signature
      properties:
        schema_version:
          type: string
          const: "pog-v1"
        content_hash:
          type: string
          pattern: "^sha256:[a-f0-9]{64}$"
        agent_wallet:
          type: string
          pattern: "^0x[a-fA-F0-9]{40}$"
        timestamp:
          type: string
          format: date-time
        nonce:
          type: string
          maxLength: 64
          description: "Unique per wallet. Prevents replay attacks."
        generation_process:
          $ref: "#/components/schemas/GenerationProcess"
        model:
          type: string
          maxLength: 128
          example: "gpt-4-turbo"
        runtime:
          type: string
          maxLength: 128
        input_hash:
          type: string
          pattern: "^sha256:[a-f0-9]{64}$"
        signature:
          type: string
          description: "EIP-712 bundle signature (hex, 0x-prefixed)"

    GenerationProcess:
      type: object
      required: [type, human_intervention]
      properties:
        type:
          type: string
          enum: [text, image, audio, video, code, multimodal, other]
        human_intervention:
          type: string
          enum: [none, prompt_only, supervised, collaborative]
        pipeline_steps:
          type: array
          maxItems: 20
          items:
            type: string

    RecordResponse:
      type: object
      required: [record_id, content_hash, state, created_at, receipt_hash]
      properties:
        record_id:
          type: string
          format: uuid
        content_hash:
          type: string
        pog_bundle:
          $ref: "#/components/schemas/PoGBundleV1"
        state:
          type: string
          enum: [pending_anchor, anchored, anchor_failed]
        created_at:
          type: string
          format: date-time
        receipt_hash:
          type: string
        anchor:
          $ref: "#/components/schemas/AnchorInfo"
        anchor_error_reason:
          type: string
          description: "Only present if state == anchor_failed"

    AnchorInfo:
      type: object
      nullable: true
      properties:
        tx_hash:
          type: string
        block:
          type: integer
          format: int64
        chain_id:
          type: integer
        anchored_at:
          type: string
          format: date-time

    ReceiptExport:
      type: object
      required: [record_id, content_hash, pog_bundle, receipt_hash, state, created_at]
      properties:
        record_id:
          type: string
          format: uuid
        content_hash:
          type: string
        pog_bundle:
          $ref: "#/components/schemas/PoGBundleV1"
        receipt_hash:
          type: string
        state:
          type: string
        created_at:
          type: string
          format: date-time
        anchor:
          $ref: "#/components/schemas/AnchorInfo"
        verification_url:
          type: string
          format: uri
          description: "URL to verify this receipt"

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              example: "invalid_payload"
            message:
              type: string
              example: "Request body is malformed or incomplete"
            details:
              type: object
              additionalProperties: true

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: Invalid signature
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    PaymentRequired:
      description: Unverified fee
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Record not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Conflict:
      description: Duplicate (content_hash or nonce)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    TooManyRequests:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
